<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.irfanullah.videodune">

    <dist:module dist:instant="true" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinalActivity" android:parentActivityName=".WelcomeActivity" android:theme="@style/RedScreen"></activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/RedScreen" android:parentActivityName=".WelcomeActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/FullScreen">

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/FullScreen"></activity>
        <activity android:name=".RecordVideo" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".WelcomeActivity" />
    </application>

</manifest>